akari-client[depthai]
akari-proto
alkana
anthropic
google-cloud-speech
google-generativeai
-e gpt-stream-json-parser/
grpcio
grpcio-tools
openai
numpy
PyAudio
PyJapanglish
python-dotenv
six
SpeechRecognition
