akari-client[depthai]
akari-proto
alkana
anthropic
google-cloud-speech
google-generativeai
-e gpt-stream-json-parser/
grpcio
grpcio-tools
openai
numpy
PyAudio
PyJapanglish
python-dotenv
six
SpeechRecognition
fastapi==0.110.0
uvicorn==0.27.1
python-multipart==0.0.9
opencv-python>=4.5.0
